/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
nbproject
cache

# numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.tmp

# os or editor folders
.ds_store
.DS_Store
._.DS_Store
.cache
.project
.settings
.idea/
nbproject
thumbs.db

# dreamweaver added files
_notes
dwsync.xml

# komodo
*.komodoproject
.komodotools

# folders to ignore
.hg
.svn
intermediate
publish
.idea
node_modules

# build script local files
build/
build/buildinfo.properties
build/config/buildinfo.properties
